*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex; /*----Изменения----*/
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
/* Кастомный скроллбар */

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  width: 1140px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
  /*height: 54px; --возможно понадобится*/
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 298px;
  overflow-y: auto;
}

.content__details {
  width: 100%;
  height: 100%;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content__video-card-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  min-width: 194px;
  max-height: 103px;
  object-fit: contain;
  object-position: right;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
}

.title {
  font-weight: 700;
  line-height: 0.94em;
  margin-bottom: 26px;
  font-size: 75px;
  width: 259px;
  height: 210px;
  text-transform: uppercase;
  font-family: oswald, 'Fira Sans Condensed', sans-serif;
}

.title .content__accent {
  color: #545050;
  line-height: 0;
}

.content__card-link {
  text-decoration: none;
  color: white;
}

.content__video-card-title {
  max-width: 192px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  font-family: oswald, 'Fira Sans Condensed', sans-serif;
  font-size: 30px;
}
